/* 🌆 Background Image */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

  display: flex;
  justify-content: center;
  align-items: flex-start;

  min-height: 100vh;
  margin: 0;
  padding: 20px;
}
/* Logo + main title */
.title-box {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;  /* center whole row */
}

.logo {
  width: 70px;
  height: 70px;
  position: relative;
  right: 30px;
  bottom: 20px;
}

/* Main heading */
.main-title {
  margin: 0;
  font-size: 26px;
  text-align: center;
}

/* 🔥 Subheading BELOW h2 */
.sub-title {
  text-align: center;
  margin-top: -35px;
  font-size: 18px;
  color: #444;
  position: relative;
  right: 10px;
  bottom: 20px;
  font-family: ui-rounded;
}
/* 📦 Container */
.container {
  background: #131212f2;
  backdrop-filter: blur(8px);

  padding: 33px;
  width: 580px;
  border-radius: 15px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}


h2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: ui-rounded;
  font-size: 30px;
  position: relative;
  right: 10px;
  bottom: 20px;
}

label {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 9px 0 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  resize: none;
}

/* 🎤 Buttons */
.voice-btn {
  width: 103%;
  background: #007bff;
  color: white;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: ui-rounded;
}

.submit-btn {
  width: 103%;
  background: #28a745;
  color: white;
  padding: 10px;

  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  font-size: 20px;
  font-family: ui-rounded;
}

/* ♿ Accessibility */
input:focus, textarea:focus, button:focus {
  outline: 3px solid #100f0f;
  outline-offset: 5px;
  background-color: #218683;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.98);
}

::placeholder {
  color: #555;
}

.status {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}



  .container {
    background: #ffffff;
    color: #060000;
    border: 2px solid black;
    border-radius: 20px ;
    opacity: 0.7;
  }

  input, textarea {
    background: #2a2a2a;
    color: #fff;
    border: 1px solid #555;
  }
